* {

}
.header_menu {
    list-style-type: none;
    display: flex;
    gap: 4px;
    padding: 0;
}
th {
    background-color: mediumseagreen;

}
table, th, td {
    border : 1px solid black;
    border-collapse: collapse;
}
th {
    color: white;
}

section {
    margin-bottom: 10px;
}
table {
    margin-top: 10px;
    width: 100%;
}

#removeHistory {
    width: auto;
    margin: auto;
    display: block;
}


